[2014-10-01 21:37] cassava opened #1 "Create a default configuration file if it is missing"
In the README, it says that a new example config file is created if it does not exist. This is not the case however, it still needs to be done.

[2014-10-01 21:38] cassava opened #2 "Clean up source code organization"
The organization of the source code is somewhat inconsistent. This could be cleaned up a little to make the structure of the program a bit more visible.

[2014-10-01 21:48] cassava opened #3 "Create a small program to help zsh completion script"
The Zsh completion script requires knowing the repository location and needs to get a list of the files.
This can be done by shell scripts, but it's not very reliable. There should be a program to help Zsh get this right. Call it `repoctl-helper` or something.

[2014-10-01 21:50] cassava opened #4 "Support multiple repositories"
It should be possible to support multiple repositories via the config file.

Something like

[code]

However, I do not want to introduce extra complexity unless it is necessary.
If you want this therefore, please comment!

[2014-10-01 21:51] cassava opened #5 "Filter negation via ! is not implemented"
According to the command line help, filter negation via exclamation mark ! should work,
but it is not implemented.

[2014-10-03 15:51] #1 closed, assigned to nobody

[2014-10-03 16:37] #5 closed, assigned to nobody

[2014-10-03 16:49] cassava opened #6 "Mark packages that are newer in local repository than AUR"
As far as I can tell, this happens in two cases:
- the package maintainer doesn't understand versioning and when to use epoch, or
- you are updating your own packages, but haven't done so in AUR yet.

repoctl should let us know when this happens.

[2014-10-03 17:59] cassava opened #7 "Implement logic required to shortcircuit to destination filter"
This is actually something I've wanted to do for a while, so it will probably land in it's own package.
It's similar to a radix tree, but it's not the same, I don't think.

[2014-10-03 18:51] #6 closed, assigned to nobody

[2014-10-03 18:57] cassava opened #8 "Share marking capabilities of list with filter and status"
In general, make the output of the commands `list`, `status` and `filter` more consistent.

`filter` does not support marking the packages like list does. Neither does `status`. Maybe this is not necessary for `status`. Or for `filter`, but it would be useful to be able to get the packages that are older
in AUR, for example, and find out exactly what the versions are, like ls shows it.

[2015-07-29 07:11] cassava opened #9 "Use new AUR API"
When goulash/pacman has been updated, use the new API here.

[2015-07-29 07:12] cassava opened #10 "Allow downloading updated AUR packages"
When goulash/pacman has been updated, make this a feature.

[2015-07-29 07:14] cassava commented on #7
At the moment, I've implemented an internal package *shortry* which kind of does the trick. The problem is that the API and functionality is not entirely clear: what exactly should be a valid shortcut to what?

[2015-07-29 13:26] #9 closed

[2015-07-29 13:29] cassava opened #11 "Improve filtering to allow OR statements"
Currently, all filter criteria are connected by an implicit AND. Let us support OR statements.

While traditionally, `|` is used to signifiy or, we would like to do this in a way that is command-line friendly. Two possibilities come into mind: Accept statements like `and` and `or`, or use a comma `,` to signify another group.

[code]

[2015-07-29 13:30] cassava commented on #11
The problem with comma is that in many disciplines, the comma is used as an and!

[2015-07-29 13:36] cassava opened #12 "Let list command perform search"
We could let the list command perform basic search. The AND/OR discussion could be solved simulaneously with issue #11.

[2015-07-29 13:36] cassava commented on #10
I have already written an example user interface: the command is called `down`.

[2015-07-29 13:38] cassava commented on #10
See commit 4faf7a8583431d07a1d20d8fe638146b37b56eee for more information on this.

[2015-07-29 13:39] cassava opened #13 "Use cobra package to handle actions."
Instead of working through the actions yourself, consider using cobra. This will probably come at that same time that the download functionality from issue #10 is completed.

[2015-07-29 13:47] cassava commented on #3
We can effectively see this as getting zsh completion to correctly work. This is going to be a lot of work, but it's going to be worth it.

[2015-07-29 14:03] cassava opened #14 "Implement --ignore flag"
The configuration file lets us ignore packages (we should define what that means), but we can't do this on the command line yet.

[2015-07-29 14:04] cassava commented on #7
I won't fix this at the moment. Need to think about it.

[2015-07-31 21:39] #13 closed

[2015-08-08 14:36] stefanhusmann opened #15 "git version does not find config file."
[haawda@frege repoctl-git]$ repoctl update
Error: no configuration files found in path.
error: lstat : no such file or directory

[2015-08-10 15:25] cassava commented on #15
Hi @stefanhusmann, thanks for the tip. I'll have a look.

By the way, I'm redoing the way repoctl is built up. The config file location is now taken from the XDG specs. This should also allow multiple configs being read:

The system-wide config file would be `/etc/xdg/repoctl/config.toml`, and the standard user config is `$HOME/.config/repoctl/config.toml`.

If you run `repoctl new config` it shou

[2015-08-10 18:51] stefanhusmann commented on #15
Perhaps you should write this info in the REAME.md, at least for the tm being.

[2015-10-07 18:26] stefanhusmann opened #16 "Build error"
With the PKGBUILD in AUR I get:

package shortry: unrecognized import path "shortry".

I also tried this build function, with the same result:
[code]

[2015-10-12 16:22] cassava commented on #16
The devel branch isn't yet ready to be compiled. In a few days I'll have that done.

[2015-11-27 09:39] cassava opened #17 "juju tar utils has been updated"
Which means we don't need to delete the pax_headers stuff when extracting downloaded tarballs.

[2016-03-06 21:27] cassava opened #18 "Panic"
After running command `repoctl down tango-icon-theme` got this:

[code]

It was working fine until my system crashed. After that it stopped working.

[2016-03-06 21:31] cassava commented on #18
Had to do with using outdated repoctl after AUR change.

[2016-03-06 21:31] #18 closed

[2016-05-12 06:03] allspark opened #19 "repoctl status -u vs -m"
Hi,
i just updated to the new version of repoctl (thx) but ;)

when i execute repoctl status -m it lists all (but 2 packages) and with status -u it lists only the 2 missing packages

`	python-pypdf2: !aur
	python-ruffus: !aur
	python2-imaging: !aur
	python2-lz4: !aur
	repoctl: !aur
`
(only a shorted list)

`repoctl version 0.14 (6 October 2015)`

thanks

[2016-05-16 17:15] cassava commented on #19
Hi @allspark, thanks for the report, I'll look into it as soon as possible.

[2016-05-17 15:43] cassava commented on #16
So... after much time. Sorry bout that. Should be fixed now though ;-)

[2016-05-17 15:43] #16 closed

[2016-05-17 15:43] #15 closed

[2016-05-17 16:13] cassava commented on #19
Hi @allspark, the semantics of repoctl changed significantly :grimacing: when I switched over to a different command line library. So perhaps I should have written up a list of the changes from the previous version.

For the `status` subcommand, there is no `-u` option though.
Can you tell me what you are expecting to see?

[2016-05-17 16:17] allspark commented on #19
oh sorry, i meant status -a (not -u)

with -a i see (atm) 3 packages
with -m i see a lot of line like repoctl: !aur

[2016-05-17 16:19] cassava commented on #19
You're right, -m should imply -a.

[2016-05-17 16:24] cassava commented on #19
I correct myself: -m should result in AUR being consulted for all the packages.

[2016-05-17 16:49] cassava commented on #19
Btw, you can combine -a and -m: `repoctl status -am`.

[2016-05-17 16:49] #19 closed

[2016-05-17 16:53] allspark commented on #19
ah thx :+1:

[2016-05-31 20:34] #17 closed

[2016-05-31 20:36] cassava commented on #10
This has been finished for a while now, actually.

[2016-05-31 20:36] #10 closed

[2016-05-31 21:23] cassava opened #20 "Does not detect packages when no database is there"
Repoctl does not detect the packages when no database is there. This has to do with pacman.meta.Read.

[2016-06-02 07:50] cassava opened #21 "Support hooks"
Let's say that my repository is actually online. Then it would be handy if after every update operation I could have it synchronized.

There are several ways this can go down, but I will lean towards the git style.
In the configuration directory, there is a `hooks` folder. There can either be a single file, named after the operation, or there can be a directory.

[code]

All matching files will be

[2016-06-02 07:59] #20 closed

[2016-06-02 08:02] cassava commented on #12
Since commit a80f3647ea65fe5330c982f0dc8b411b8537cf54 this is possible by adding a single regex argument. This should actually cover all uses, even if it's not particularly pretty.

In the future, might make this more similar to `pacman -Ss` style search.

[2016-06-02 08:02] #12 closed

[2016-06-02 08:11] cassava commented on #14
I'm removing this from version 0.15 milestone. Is it even desired by anyone?

[2016-06-02 08:11] cassava commented on #2
This has been done for a while, actually.

[2016-06-02 08:11] #2 closed

[2016-06-02 08:14] cassava commented on #3
There has been `repols` already for a while which has been used to this end. So this is probably fine. What needs to happen now is a proper completion script.

[2016-06-02 08:14] #3 closed

[2016-06-02 08:16] cassava commented on #8
This should be completed when issue #11 is completed.

[2016-06-02 08:16] #8 closed

[2016-06-02 08:17] #7 closed

[2016-06-02 08:17] cassava commented on #7
I'm closing this because I don't see the need to make things unnecessarily complex at the moment.

[2016-06-02 08:18] cassava opened #22 "Add bash completion"
We need some bash completion. Would appreciate some help on this though.

[2016-06-02 08:20] cassava opened #23 "Complete zsh completion"
The current Zsh completion is better than nothing, but it's not very good. It would be nice to have something more comprehensive. Would appreciate some help here.

- [ ] `repo add` should complete for files, not package names

[2016-06-02 10:33] cassava commented on #19
@allspark, I released 0.15, which contains this fix among others.

[2016-06-11 12:28] AladW opened #24 "repoctl new config: hardcoded .tar.gz suffix"
For example, I have a database file in `/var/cache/pacman/custom/custom.db`, and `repoctl list` gives an error as `custom.db.tar.gz` doesn't exist. It does however list all packages in the repository.
[code]
Config file: https://paste.xinu.at/HtVT/

When I provide the full custom.db path to `repoctl new config`, it creates an entry with `/var/cache/pacman/custom/custom.db.db.tar.gz`.

If I correct

[2016-06-11 12:44] AladW opened #25 "repoctl status: entry names"
`repoctl status` lists new packages as `update`, which gives me the impression it needs an update. "update**d**" would be more clear.

Perhaps it would also be useful to distinguish between packages which are newer in the repo (older on the AUR), similar to `pacman -Sl` or `cower -i`.

I'm also having an `obsolete` entry, which I'm unsure on the meaning. It doesn't seem to match the `out of date`

[2016-06-11 14:08] AladW commented on #4
I think this would be useful if for example you want one repository for release packages, and a second for development versions (-git, -svn, etc.).

[2016-06-11 14:13] AladW commented on #14
I'm not sure on the benefits on having a command-line option, even if pacman and similar support it. Ignoring a package is typically something you'd do for a longer time period, e.g. on a packaging error.

Some might argue that a command-line flag helps in reminding that you're ignoring a package, but you could instead inform the user when a package is ignored (e.g on `repoctl status`), unless `qu

[2016-06-11 14:18] AladW commented on #25
Looks like the "obsolete" meaning is clarified in `repoctl status -h`, which I missed somehow. `repoctl list -a` also shows newer repo packages.

[2016-06-11 14:21] cassava commented on #25
Hey @AladW, thanks for the report.

When you look at the `repoctl status`, it shows you the difference between what's in the directory and the database. So `update` means that there is a file that causes that database entry to be updated. Obsolete means there is an additional file that will be backed up or deleted.

So if I had pacman-3.3-blah and pacman-3.4-blah, then pacman-3.3-blah would be rem

[2016-06-11 14:30] cassava commented on #24
Hey @AladW, thanks for this report also,

Quick question: is this just about the path, or is it about the actual format of the database? The database needs to be tarred at minimum, because it's a directory tree internally.
The `repo-add` command creates a symlink from `custom.db` to `custom.db.tar.gz`, correct?

[2016-06-11 15:21] AladW commented on #25
Ah, I see what you mean. Perhaps change the help text to directly refer
to the entries, for example:

obsolete package files that can be deleted (or backed up)

to (adding a column)

obsolete: package files that can be deleted (or backed up)

Ben Morgan wrote:

[2016-06-11 15:23] AladW commented on #24
Good point, it would indeed be about the path; as a comparison, database
files in /var/lib/pacman/sync/foo.db doesn't have a .tar extension either.

repo-add does create a symbolic link:

% stat custom.db
  File: 'custom.db' -> 'custom.db.tar'
  Size: 13            Blocks: 0          IO Block: 4096   symbolic link
Device: 802h/2050d    Inode: 5382121     Links:

Ben Morgan wrote:

[2016-07-10 19:38] cassava commented on #24
Hi @AladW, can you have a look at commit e056c64afa06c58579f5284b9a462ad5af3cffef and see if this solves your problem?

My experience was that repo-add wants to have the whole database, i.e. custom.db.tar.gz, and so if you supply something else it won't work. But maybe I am mistaken.

[2016-07-10 19:47] cassava commented on #25
I modified the help in commit 49d62d3c7b79c552a87d64027d1468ef1d839056. Thoughts?

[code]

[2016-07-10 19:51] cassava commented on #21
I have started with a simple system of running a single command before and after actions.
If it turns out that people need a more complex system, then this can be revisited.
Commit 9406a1ef3edb4ca38af9c33c254a454bbb199a17 implements this change.

[2016-07-10 19:51] #21 closed

[2016-07-11 06:54] AladW commented on #25
Works for me, thanks!

[2016-07-11 06:54] #25 closed

[2016-07-11 21:03] AladW commented on #24
The repoctl-git AUR package is broken, so I'm having some trouble building repoctl to test this; I ran:
[code]
But for some reason the `~/go/bin` directory stays empty...

[2016-07-12 08:51] cassava commented on #24
I guess it's kinda confusing :-)

You have a typo at `cd ~/src/github.com/cassava/repoctl` (missing the `go` directory).
You have to do go install in `cmd/repoctl`, because that's where the binary is. You can also do `go install ./cmd/...` to install all commands, which would be `repoctl` and `repols`.

[2016-07-12 08:54] cassava commented on #24
On a sidenote: I don't control the repoctl-git AUR package sadly, so I can't fix it. Personally, I don't think the package is necessary.

[2016-07-12 10:18] cassava commented on #24
Ok, the latest repoctl requires the repository database to be specified with some extension that signifies how it is compressed (if at all). Thus `.tar` and `.tar.gz` and `.tar.xz` should all work. If this is omitted, and only `mine.db` is given, for example, then it will fail.

[2016-07-12 15:22] AladW commented on #24
Ok, with your corrections it installed. When creating a new config with an extension:
[code]
It works as expected:
https://paste.xinu.at/TA8/

Doing the same without extension gives errors, also as expected:
https://paste.xinu.at/ROhW/
https://paste.xinu.at/sFQz/

Perhaps it would be clearer if the user is warned right away that he created a config file without one of the supported extensions.

[2016-07-12 15:28] AladW opened #26 "repols: runtime error if repo not configured"
If the `repo` variable is not set in `~/.config/repoctl/config.toml`, or the file is not available, `repols` (from the devel branch) gives a runtime error:
[code]
In 0.15, a warning message was displayed instead:
[code]

[2016-07-12 15:34] AladW commented on #4
Alternatively, if this is simpler you could instead add a switch which allows pointing to a configuratition file, e.g.:
[code]

[2016-07-12 16:20] cassava commented on #24
Alright, since 3d3de22f22b666fdac42c7960a7379482b4301fa the user is warned now on every run if an error occurred.

[2016-07-12 16:20] #24 closed

[2016-07-12 16:21] cassava commented on #26
Thanks for catching this!

[2016-07-12 16:21] #26 closed

[2016-07-12 16:22] cassava commented on #26
Although I'm kinda wondering if I should have repols not give error messages at all, as it is used in the Zsh completion script.

[2016-07-12 17:06] AladW commented on #26
You could add an `2>/dev/null` in the completion script, at least if this is the only context where having error messages makes no sense.

[2016-09-11 12:10] AladW commented on #24
@cassava the repoctl-git AUR package was orphaned

[2017-02-10 04:10] AladW commented on #4
How about having a command for the default profile settings and also moving the functionality from "new" there? e.g. `repoctl config set-profile`, `repoctl config new`, `repoctl config repo`. Having besides that a flag to temporarily set the profile as mentioned is good to have.

[2017-02-11 12:24] cassava commented on #4
That does sound like a good idea, thanks! Would you use multiple profiles? (I'd rather not put work in a feature no one will use.)

[2017-02-17 18:28] AladW commented on #4
Well, I would definitely use the ability to use multiple repositories. Whether that's best done via multiple profiles, the ability to specify multiple entries in a single profile, or even some `Include = foo` ability, you're the best judge of that. :+1:

[2017-09-17 08:52] daurnimator opened #27 "fatal error: sweep increased allocation count"
[code]

[2017-10-08 09:45] cassava commented on #27
Thanks for the issue. I'll see if I can reproduce it.

[2017-10-10 08:58] peshane opened #28 "rpc.php limit to 250 packages ?"
Hello,
I've got 250 packages in my "repoctl's repo" and when I try to `repoctl down -u` I've got the full URL to aur.archlinux.org/rpc.php and this return:

I remove one package and now it's working. If some cleaning can be done on my repo, it will be greatful if repoctl can split request to be under this aur's 250 limit.

[2017-10-10 17:33] cassava commented on #28
Seems to be. I could try splitting the single request into max 250 sized requests. Thanks for the Info!

[2017-10-26 12:10] cassava commented on #27
Hi @daurnimator, I can't currently reproduce this. Are you getting this regularly? Could you try with the latest repoctl version?

[2017-10-26 12:11] cassava commented on #28
Hi @peshane, I've got it splitting requests to 200 at a time. Would you be interested in testing the current master to see if that resolves this issue? Thanks!

[2017-10-26 14:39] peshane commented on #28
Thanks for that,
I'll try soon and report

Le 26 octobre 2017 14:11:49 GMT+02:00, Ben Morgan <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec K-9 Mail. Veuillez excuser ma brièveté.

[2017-10-26 15:26] peshane commented on #28
[code]

Seems OK , thanks again \o/

[2017-10-26 16:29] cassava commented on #28
Excellent! Closing this issue then. New release will follow soon.

[2017-10-26 16:29] #28 closed

[2018-01-30 10:19] grensjo commented on #27
I regularly experience this issue with the latest release (v0.16). It seems to be non-deterministic, but it happens often enough that I can reproduce by running a command such as `repoctl list` or `repoctl status` 5 times quickly in a row.

However, the issue seems to be gone when using `repoctl-git`. Perhaps it is time for a new release?

[2018-01-30 12:42] cassava commented on #27
Thanks for the update. You are probably right, I'll see what I can do. :-D

[2018-01-30 14:01] cassava commented on #27
Hey @grensjo, I just uploaded the 0.17 release here on Github and on AUR. Let me know if you run into any problems. Thanks!

[2018-01-30 14:38] grensjo commented on #27
Thanks, will do! It seems like you forgot to update the `.SRCINFO` file though (it is still listed as 0.16 in AUR).

[2018-01-30 14:54] cassava commented on #27
Thanks, forget that every time!

[2018-02-27 22:08] maximbaz opened #30 "Allow removing packages from DB without deleting old cache files"
I'm trying to bring `repoctl` into my workflow, and I noticed that `repoctl update` is incompatible with `paccache` - `paccache` intentionally keeps 3 latest package versions in cache, but `repoctl update` purges everything except the newest one.

I'd like to use `repoctl update` to cleanup packages that `repoctl status` marked as `removal`, but do nothing with those that are marked as `obsolete(N

[2018-02-28 07:42] cassava commented on #30
Hi maximbaz. That means that you manage the obsolete packages yourself, but repoctl should remove packages no longer in the database?

[2018-02-28 08:01] cassava commented on #30
I would made the following suggestion. `repoctl` allows you to define a backup directory where packages are moved to. Normally, this path is `backup`, relative to the repository. If you set the `backup` option to true and the `backup_directory`  to `.` or an empty string, then `repoctl` will leave obsolete files alone. It will also print `caching: package_file\n` in debug mode, but otherwise nothi

[2018-02-28 10:27] maximbaz commented on #30
That is exactly right, I manage cache files myself via `paccache`, but I want to use `repoctl` to manage package _database_ - if there are no cache files, clean up my database, if there are new cache files, add them to my database.

---

I tried the workaround that you suggested with both `backup_directory` set to `.` and an empty string, but for some reason it doesn't work for me:

[code]

But to

[2018-02-28 11:12] cassava commented on #30
Sorry, I was proposing a solution that I hadn't implemented yet.

[2018-02-28 11:14] cassava commented on #30
I'm going to have to have a look at `paccache`, haven't come across it till now.

[2018-02-28 11:16] maximbaz commented on #30
Ah I see, I didn't catch that it isn't implemented yet 🙂

Since something has to be implemented anyway, my vote is even stronger for a new flag that ignores manipulation of cache files 🙂

Let me know what you think about all of this once you get familiar with `paccache` 👍

[2018-02-28 12:46] cassava commented on #22
Bash completion is generated by the cobra library from repoctl 0.17 onwards.

[2018-02-28 12:46] #22 closed

[2018-02-28 13:01] cassava commented on #30
I'll do that. In the mean time you could glance at a few changes I made in the devel branch.

[2018-02-28 13:04] maximbaz commented on #30
Yup, already tested those - the files are not being removed 👍 But seeing `obsolete` in `repoctl status` and a bunch of `backing up: xxx` in `repoctl update` is a bit annoying, thus created #32 for you to look at 😉.

[2018-02-28 17:07] cassava commented on #30
Hi @maximbaz, could you have a look at current devel state. In particular, I prefer that the less invasive changes to the code (don't quite like passing keepCacheFiles bool around) and the fact that it picks up your "default". For me, that's the most important thing -- if you treat obsolete packages as cache files, then repoctl should treat them as such across the board, instead of requiring you t

[2018-02-28 17:24] cassava commented on #30
What should be done when using `repoctl rm pkgname`? Should it delete the cache files, or leave them alone? Currently it had used the same behavior as `backup` specified. But if caching is enabled, then that results in:
[code]
A bit pointless, don't you think.

This could be rectified by running:
[code]
Which, by the way, also works for update.

So maybe specifying `--backup=false` when you want t

[2018-02-28 17:24] maximbaz commented on #30
Thanks, just tested!

The fact that `repoctl status` doesn't print cached files unless `-c` is specified is actually even better that what I proposed, definitely like it 👍

Printing `cached: filename` is indeed annoying, and actually just meaningless - it is not "caching" anything, it just "skips" those files.

Can we remove the printf alltogether (or hide it under the debug level output)?

Other

[2018-02-28 17:27] maximbaz commented on #30
Well, specifying `--backup=false` does sound acceptable, because who will see `caching` in the first place - those people, who intentionally configured their backup dir to be an empty string, and in that case they should be okay "disabling backup" if they want to cleanup cache files.

[2018-02-28 17:50] cassava commented on #30
I agree. When removing a file, you want to see the `cached: filename` message, but then it will also be shown when running `repoctl update`. This is unfortunate. If I hide it, it will also be hidden when removing.
Possiblities:
- A new *verbose* mode that shows `cached: filename` at certain points. Verbose is automatically on when removing packages.
- Leaving it as it is. When adding a package, I

[2018-02-28 18:04] maximbaz commented on #30
Actually, do you really want to print `cached: filename` when removing a file though? Maybe I don't fully understand what's happening there, but to me printing `cached: filename` sounds as if we are printing `not doing anything to: filename` - why even print this then?

If you do want to print `cached: filename` on rm, then I guess I would also pick the last option 👍

[2018-02-28 18:27] cassava commented on #30
I implemented the last option on the `devel` branch. Since normally we only print something when we actually *do* something, you're right, it doesn't really make sense to print it. I guess it's useful as a reminder. So I'm printing a warning when removing a package from database but not deleting the file, as I can't imagine why anyone would do this => it's probably a mistake then, which is why the

[2018-02-28 18:31] maximbaz commented on #30
Awesome, thanks for the quick implementation 👍
I'm fine with closing the ticket, unless you want to keep it around until you publish a next release.

[2018-02-28 18:35] cassava commented on #27
Please re-open if the problem occurs again. Closing for now.

[2018-02-28 18:35] #27 closed

[2018-02-28 18:37] cassava commented on #30
Sure! Thanks for your involvement!

[2018-02-28 18:37] #30 closed

[2018-02-28 18:38] maximbaz commented on #30
P.S. Consider also documenting somewhere that BackupDir can now accept empty string and this is useful if you manage cached files using different tools, such as `pacman -Sc` or `paccache -r` 👍

[2018-02-28 19:48] cassava commented on #30
Already done. :-D

[2018-03-01 11:45] cassava opened #33 "Recursive download and build-order broken"
Counter-example: `google-musicmanager` depends on `qtwebkit`, which is not available in the standard
library. It is not downloaded, however.

[2018-03-04 13:24] maximbaz opened #34 "`repoctl list` is showing packages that are not in the repo"
Add a package to the repo with `repo-add`, then remove the package with `repo-remove`, but leave the cache file in `/var/cache/pacman/myrepo` folder.

Then `repoctl list` is still showing this package in its output, although the package is not in the database anymore. I can confirm using `aurutils` (`aur sync --list -d myrepo`) that the package is not in the database. I would expect `repoctl list`

[2018-03-04 13:36] maximbaz opened #35 "Handle signature files"
For example, `repoctl remove` should also remove signature files together with actual package cache files (unless `backup-dir` is not set to empty string, in which case both files should be ignored).

Today presence of signature files causes `repoctl remove` to output `error: unknown file format`. I believe `repoctl update` also suffers from the presence of signature files.

P.S. In the example be

[2018-03-20 13:45] mbloms opened #36 "ignore missing packages in `repoctl down`"
I would like to be able to use:
[code]
For acquiring all foreign packages installed on my system. However, if I have packages installed that are not in the AUR, I get an error. A warning would suffice, or at least an option to ignore the missing packages.

[2018-03-21 13:49] mbloms opened #37 "Make backup directory if it does not exist"
For me `repoctl` made a file called backup instead of a directory. It then added weird stuff to that file.

[2018-03-24 14:30] cassava commented on #36
You'll probably have better mileage with the excellent [cower](https://github.com/falconindy/cower) on this front, since downloading packages is it's main use case.

That said, I'll look into having repoctl report warnings instead of errors. Thanks for reporting!

[2018-03-24 14:31] cassava commented on #37
That doesn't sound good. Thanks for the heads up!

[2018-05-01 19:11] aphirst opened #38 "repoctl update - Error: exit status 1"
I've set up repoctl to be used with a "custom" repo for aurutils (release, not -git, since I keep hitting -git releases where basic functionality is broken). To the best of my knowledge, I set up both in accordance with the aurutils documentation.

I've been removing some old, redundant package files from my "custom" repo folder, and also their build files from aurutils' build folder, and my under

[2018-06-14 04:08] hcnelson99 commented on #38
I am encountering this exact issue as well

[2018-06-14 07:44] aphirst commented on #38
I managed to "fix" things by deleting the old repository files, and regenerating. I never worked out the underlying cause.

[2018-06-14 13:40] hcnelson99 commented on #38
The above fix worked. Close this issue unless we can find a way to reproduce?

[2018-06-14 14:35] aphirst commented on #38
I agree. It can always be reopened later if anyone else works out how to reproduce.

[2018-06-14 14:35] #38 closed

[2018-06-15 17:46] cassava commented on #38
Woah! Didn't mean to leave you hanging there for so long! I've been a little under water of late. Sorry bout that!

[2018-06-15 17:47] cassava commented on #38
When you say the "old repository files" you don't mean the actual packages do you? The database?

[2018-06-20 20:12] cassava commented on #34
This was by design at the time.

I'm not sure whether it was a good idea or not. Part of the idea was that I would build packages and they would automatically be put in the repository directory by `makepkg`. Then `repo list` would show me which packages are registered with the database as well as which packages are just there. More detailed listings would then let you fine-tune it.

The other cave

[2018-06-20 20:33] maximbaz commented on #34
Up to you, feel free to close if you want to keep this behavior, I'm happily using `aur sync --list` 🙂

It really depends on what meaning you want to put into the `repoctl list` command, should it represent the current state of the database, or should it represent the "potential" state as if you executed `repoctl update`.

[2018-06-20 20:48] cassava commented on #35
The most recent commit  58f5438 should resolve this issue.

However, all it does is stop complaining. This is by no means support for signatures.
I wonder what this would consitute, in particular for the following situations:

- Checking validity of packages: ?
- Adding packages: ?
- Removing packages: just remove them

[2018-06-20 20:55] cassava opened #39 "Error results in post_action not being run"
The `post_action` from the config is not run when the `down` command errors out.
The action may not be run whenever any error is triggered.

[code]

Additionaly, the output could be better, each package on it's own line, for example.

[2018-06-20 20:56] cassava commented on #39
Related to issue #36.

[2018-06-20 21:01] cassava opened #40 "Add separate configuration file support"
When trying out different configs it is pretty limiting to not be able to specify a configuration file.
Either it should be documented if it is possible, or it should be made possible somehow.

This would then prevent any other configuration file from being loaded.

[2018-06-21 07:36] maximbaz commented on #35
That commit only bumps the version, just double check that you didn't forget to push something 🙂

* Checking validity of packages:
    * is this a repoctl command that I don't know of? otherwise just skip the signature files
* Adding packages:
    * just skip the signature files
* Removing packages:
    * respect the backup option, remove the signatures only if you are removing the actual files, o

[2018-06-23 08:58] cassava commented on #35
Yes, but the previous commit updates the dependencies, in particular https://github.com/goulash/pacman which contains the fix.

[2018-06-23 09:00] cassava commented on #35
I asked about validity checking, because if I have a package that I force update, but don't change the signature, then I will have signatures of packages that don't match, right?

But this could come later, if someone feels they would benefit from it.

[2018-06-30 02:34] severach opened #41 "New switches for 'add'"
--update, only add files not already present. This allows me to add *.pkg.tar.xz
--symlink, symlink files instead of copying. This keeps me from having two copies around
--srcinfo, add all current version filenames found in .SRCINFO

With symlink you'll need an autoclean that removes broken symlinks from the repo and db.

[2018-07-13 06:21] sudoBash418 commented on #35
I, for one, would definitely like having signature management builtin.
It would simplify my scripts and be much more robust than my current solution.

[2018-07-14 17:38] AladW commented on #38
It might help to get the actual output from `repo-remove`, which I believe `repoctl` runs on removing packages from the db.

[2018-07-14 17:39] AladW commented on #40
I guess this is a duplicate of #4.

[2018-08-18 07:28] cassava commented on #40
Thanks for the pointer.

[2018-08-18 07:28] #40 closed

[2018-08-18 07:30] cassava commented on #38
repoctl does use `repo-add` and `repo-remove` in the background. The idea was to save me some work, both now and in the future. Getting the output though would be useful for the error case; propagating them to the user might be a challenge.

[2018-11-19 19:02] PedroHLC commented on #35
I would prefer an option for adding packages only if signature exists (at least for 'repoctl update'), no need to validate it though.
Sometimes I call 'repoctl update' and it adds an incomplete .tar.xz (cause they're being written while the commands run), this generates corrupted entries in the database. Signatures are created after the package, so this would prevent this problem.
Checking if a si

[2018-12-01 14:40] cassava commented on #35
These are definitely good ideas! Currently I have a lot less time than I'd like to, which is why this issue is still open. Sorry guys! :-(

[2019-01-20 23:10] je-vv commented on #4
The multiple repos specified on the same config, like the "atlas" and "mercury" ones in the example at the top, seem appealing.

[2019-01-20 23:19] je-vv opened #42 "Support delta binaries"
I'm using 0.18 release from AUR, and whenever I run "repoctl update" or "repoctl status", I get the error (at the very beginning):

On update, that makes the command fail in the end:

On status, at least I get the status of the packages.  In case, my configuration:

    repo = "<my_repo>.db.tar.xz"
    add_params = [
      "-s -v"
    ]
    rm_params = [
      "-s -v"
    ]
    backup = false

[2019-02-07 00:46] krutoileshii commented on #42
I get the same error message, but it does not exit for me with an error code. it seems to complete, just takes a bit to finish. As for outcome, not visible issues to be hones beyond the error message.

[2019-02-07 00:52] je-vv commented on #42
I uninstalled xdelta3, remove the delta binaries, and reconstructed the repos, and everything works.  It seems repoctl doesn't support packages' deltas.

It's not a requirement for me.  It can be indicated that repoctl doesn't support it, and that's it.

[2019-03-28 17:19] PedroHLC opened #44 "Randomly not finding any package"
[code]

I'm pretty sure [firefox-nightly](https://aur.archlinux.org/packages/firefox-nightly) will always be on AUR, but on random times, repoctl is not finding ANY package at all. I do have an hourly service downloading the same packages, but didn't find anything to understand/reproduce the error. This started +/- a week ago...

[2019-04-07 11:27] cassava commented on #44
First of all, thanks for submitting an issue! Are you still having the problem? I wonder if the AUR query service was down at those times where it didn't work.

This file here contains the code for retrieving information from AUR: https://github.com/goulash/pacman/blob/master/aur/aur.go#L206

If the problem occurs, it would be very useful for you to post the content of:

[code]

This should be a J

[2019-04-08 01:48] je-vv opened #45 "repoctl update not cleaning packages' signatures files"
`repoctl update` is able to remove old versions of packages, but if they had a signature side file, that file is not getting removed at all, and the user is forced to go find and remove those left over files...  It'd be great for the signature files that go with the old version packages, to be removed altogether.

Thanks !

[2019-04-09 04:39] PedroHLC commented on #44
Hey, seems like there's a rate limit in AUR
[code]
Learned the hardway 🤓

[2019-04-09 10:39] cassava commented on #45
Hi, thanks for the issue! I'll see when I can get around to do this, can't make any guarantees though. If you feel up to it, I do accept patches!

[2019-04-28 07:30] doronbehar commented on #35
I've delved into the code base of Repoctl a little bit today and I think this feature should be incorporated first in https://github.com/goulash/pacman. I couldn't find evidence it supports / reads signature files. What do you think @cassava ?

[2019-04-28 12:36] cassava commented on #35
Hey @doronbehar, it doesn't support signature files (I know, because I wrote it). I would probably add something to repoctl itself first, and then if that fits well in the pacman library, move it there after some testing. Originally, I thought it would be useful to have a "pacman" library to support other applications. So far, I'm not aware of anyone else using it though.

[2019-04-28 14:19] cassava commented on #45
@je-vv, see Issue #35 for further progress of this. TLDR: Please test the current `devel` branch and see if this solves your problem.

[2019-04-28 14:19] #45 closed

[2019-04-28 14:22] cassava commented on #35
Alright, I implemented some preliminary support of signature files. Since I only just now started working with them, I'd appreciate it if those intereseted (i.e. you) would test it. If I get enough positive feedback, I'll then release a new version of repoctl with this change.

[2019-04-28 15:01] cassava commented on #41
Hey @severach, sorry for the long delay in responding.

- `--update` -- If you can live with hardlinks, using the `--link` or `-l` argument for the `add` command will be just as performant.

- `--symlink` -- I added the `--link` flag, which tries to create a hardlink before copying. I'm not quite ready yet for actually supporting symlinks, as I feel this makes repoctl a good deal more complex for

[2019-04-28 15:03] cassava commented on #44
@PedroHLC, do you regularly run into this problem? At minimum I want to dump an error when this happens, but while I'm at that I was wondering if I should try to optimize queries somehow.

[2019-04-28 15:12] cassava commented on #44
(Whenever repoctl queries AUR, it does so in 200 package searches. So if you do a `repoctl list -a` and you have a local repo size <=200, then it sends a single request. If you have 660 packages, it will need 4 requests, etc.)

[2019-04-28 15:18] cassava commented on #34
Hey @maximbaz would it make sense for `repoctl list` to gain `-r, --registered` and `-u, --unregistered` flags to pre-filter which packages are shown?

[2019-04-28 15:20] maximbaz commented on #34
Sounds good, yeah 👍

[2019-04-28 15:43] doronbehar commented on #35
Thanks! As a start, I've just tested with an existing repository using branch `devel`:

I'm not sure if you intended this or not but when a `pkg.tar.xz` file is manually removed from the repo's directory, it would be nice if it's corresponding `.sig` file will be removed as well on `repoctl update`. I've tested this case with and without `--require-signature`.

Besides that, on `repoctl remove` an

[2019-04-28 16:02] cassava commented on #35
Hm, should perhaps document the flag a bit better. `--require-signature` prevents the package being added (with the `add` command) if there is no accompanying signature. This is useful if you always want signatures to be available for all packages. In the `update` case, it will prevent the package being added to the database if there is no signature. Suggestion came from @PedroHLC.

As for the orp

[2019-04-28 16:06] doronbehar commented on #35
Well TBH that was just my initial test case for the new version..  Usually that should never happen in a normal work flow.

As for the `--require-signature` this could be very helpful! Is there a chance it could be set by default using the configuration file?

[2019-04-28 16:15] PedroHLC commented on #44
Hi @cassava, the thing is that I have to download almost 300 VCS hourly, using `repoctl down` as there is no other way of checking versions. But when it got larger then 200 pkgs, "repoctl down" was failing to run, so I did a for-loop to exec "repoctl down" for each package, which was the cause of this issue, currently I've replaced it with a "xargs -n 200"

[2019-04-28 17:07] cassava commented on #35
Yes! This can be set by default in the configuration. The key is `require_signature`, such as:

[code]

In addition, I found a related bug in the update command routine, so you might want to try this on the latest devel.

[2019-04-28 17:11] cassava commented on #36
This bug should be squashed, I am sorry it took so long though... :-D

[2019-04-28 17:11] #36 closed

[2019-04-28 17:14] cassava commented on #34
Decided to leave that `-u` flag out, since that is out of the scope of what the `list` command is for. But with `-r`, it's now possible to only show registered packages. Honestly, don't know why I didn't have this as the default from the very start...

[2019-04-28 17:14] #34 closed

[2019-04-28 17:19] cassava commented on #44
Hmm, `repoctl down` shouldn't fail to run with more than 200 pkgs... thanks for the info! I'll see if I can reproduce that.

[2019-04-28 17:26] cassava commented on #42
So, I got the output fixed in the latest development branch. The useless output `Error: exit status 1` is replaced with the output of the failed command. In the update case, I call `repo-add` in the background for each package. So perhaps that command is failing.

I'd like to investigate this problem when I have time. So I'm reopening it for now.

[2019-04-28 17:51] doronbehar commented on #35
Seems fine to me.

[2019-06-05 11:57] X-dark commented on #42
Probably not worth the effort as it is being dropped from pacman https://git.archlinux.org/pacman.git/commit/?id=9adb0d5b37df7ca668e23877e85431dabeea005e

[2019-06-05 16:31] cassava commented on #42
Thanks for the pointer! I think I'll close this issue then. If, despite support being dropped from repo-add, errors still occur, please re-open this issue.

[2019-06-05 16:31] #42 closed

[2019-08-05 21:16] PedroHLC opened #46 "'repoctl down -u' throwing panic and no packages are being downloaded"
I'm not sure when it started and I'm a little lost:

Console log:
[code]

Database is the one available at: http://lonewolf-builder.duckdns.org/chaotic-aur/x86_64
Dotfiles are these: https://github.com/PedroHLC/chaotic-aur/tree/master/home/main-builder/.config/repoctl
Note: using 0.18 release
**EDIT**: Tested and throwing the same output with latest master commit
Also: `repoctl status` shows `Ever

[2019-08-10 18:42] cassava commented on #46
Hey @PedroHLC, thanks for the bug report! I'll have a look at probably Monday and see if I can find a fix. The information you provided looks helpful.

[2019-10-24 13:37] canalguada opened #47 "Do not use Zstd archive format with `repoctl add` after updating pacman to 5.2.0 version"
`repoctl add -m` command just dumps the whole repository and leaves only the added package, when it uses the new Zstd archive format.

That could give somebody hell, I guess.

[code]

[2019-10-24 13:56] canalguada commented on #47
Just add the console log, if it can help.

[code]

[2019-10-25 17:13] cassava commented on #47
Wow, that's not good! Thanks for the report! I'll look into it.

[2019-10-25 18:21] #35 closed

[2019-10-25 18:23] cassava commented on #47
I also sincerely apologize for your loss of data! :-(

I implemented some support for Zst compression on the `devel` branch.
Would you care to test it? If that works out I'll then release v0.19.

[2019-10-25 20:46] PedroHLC commented on #46
You can close this if you want, I'm unable to reproduce it anymore...

[2019-10-26 12:52] canalguada commented on #47
Since I am not fool enough to throw away all the backups of what was required to rebuild the few packages that matter, there was no actual loss of data.

[code]
It's a sunny day… So didn't check much further. Looks pretty good.

[2019-11-01 14:08] alanorth commented on #47
Version 0.19 from `-devel` works with ZST-compressed file for me too.

[2019-11-09 13:53] Vash63 commented on #47
I can confirm that grabbing the latest commit from -devel works fine for me also.

[2019-11-21 16:38] es20490446e opened #48 "Enhancing building speed by changing compression type"
Be aware of [this](https://gitlab.manjaro.org/applications/pamac/issues/651).

[2019-11-30 01:49] tarnh opened #49 "magic number mismatch"
I'm using repoctl-devel and build zstd packages both in my chroot and sometimes on my main system.

After adding a chroot package I've just got
[code]
which deleted all my packages in the repo. Seems to be the standard reaction if something goes wrong ... https://github.com/cassava/repoctl/issues/47

[2019-11-30 17:17] Vash63 commented on #48
Just a user here, but I had the same concern. If you grab this branch below you can use zstd, which is even faster than gz and has similar compression ratio:

https://github.com/cassava/repoctl/tree/devel

Not sure when the dev has the next release planned but I've been using this for a couple weeks now with zstd and it works great

[2019-12-01 03:31] es20490446e commented on #48
Thanks, although it seems that zstd will become the default eventually.

[2019-12-01 03:31] #48 closed

[2019-12-17 08:59] cassava commented on #49
Hey @tarnh, so sorry about that! Was that with the latest version here? Regardless, files shouldn't be deleted when something goes wrong. I'll have a look into it and keep you posted.

[2020-01-07 22:17] PedroHLC opened #51 "'repoctl update' picks the wrong file if version is the same"
When `repoctl update $pkgname` is called it picks the wrong and outdate package instead of the newer one, that's happening with my xz->zst transactions. I think modified timestamp should be compared when pkgver and pkgrel are the same.

**EDIT**: Thinking better about it, modified timestamp should always be preferred, this would solve problems like 1.0.0-rc1 being bigger than 1.0.0.

[2020-05-01 08:40] peshane commented on #46
shoud be reopen, get exactly the same error with v0.19:
[code]

[2020-05-20 20:11] cassava commented on #46
Thanks for the report!

[2020-05-31 12:23] cassava commented on #46
Hi @peshane, do you have more than 200 packages in your repository?

[2020-05-31 20:20] peshane commented on #46
Hello, 322 packages. May be I should clean this.

[2020-05-31 22:04] cassava commented on #33
Fixed and shall be available in v0.20.

[2020-05-31 22:04] #33 closed

[2020-05-31 22:08] cassava commented on #46
Hey @peshane, no that's fine. The function where the problem occurs in has two paths that can be taken: one for less than 200 and one for more. This is because if there are more than 200 packages, I have to use multiple queries to get all the data.

Now, I wasn't able to completely reproduce the problem, but I think I've found a solution to it anyway. That's currently in the `devel` branch, so if

[2020-05-31 22:18] cassava commented on #51
Not sure if I agree on the timestamp priority, but it might make sense to make that an option, if it's easy enough to implement. But I do agree that if pkgver and pkgrel are the same, the timestamp should be checked next. (Alphabetically, "xz" is less than "zst", which would explain the current behavior.)

Also, if `1.0.0-rc1` is being sorted higher than `1.0.0`, then that would be a proper bug. I

[2020-07-31 15:34] PedroHLC opened #52 "No recursive download with databases other than in gzip"
I'm using databases with `.tar.zst`, before that, I used `.tar.xz`. I never understood why I couldn't use recursive and now on 0.20 I get this tiny message:
[code]
Database(s): https://lonewolf.pedrohlc.com/chaotic-aur/x86_64/chaotic-aur.db.tar.zst
repoctl config: https://github.com/chaotic-aur/infra/blob/main/home/main-builder/.config/repoctl/config.toml

[2020-07-31 15:40] PedroHLC commented on #52
Also thanks man, repoctl has been serving me for more than a year already. And today chaotic-aur has more than 7k users monthly. That would be way harder without your tool.

[2020-08-03 14:34] cassava opened #53 "Make configuration optional for certain commands"
Currently, repoctl dies whenever running without already having been configured.

[code]

The following commands could be modified to allow unconfigured use:

- [x] help
- [x] version
- [x] new
- [x] search
- [x] download

[2020-08-04 18:23] cassava commented on #52
Hey @PedroHLC, glad to hear that repoctl is useful to you! :-)

I must admit that recursive download didn't actually initially work. But I got the kinks worked out and that has been part of the 0.20 release. See issue #33 for more on that.

If you are up for trying out a pre-release commit, I want to push a commit that should solve the problem. Would be nice to hear if that works for you. I wasn't

[2020-08-04 18:33] cassava opened #54 "Recursive download doesn't handle package names that are provided"
The recursive download feature has been available since 0.20, and here's an edge case that hasn't been dealt with yet.
Sometimes a package depends on a name that doesn't actually have a package, but is provided by another. This mostly happens when a package is renamed from one to another or can be fulfilled by multiple other packages.

Currently, we just dump a warning that we can't find the packa

[2020-08-04 18:45] PedroHLC commented on #52
:confused: I was trying from c1a7475, I was able to reproduce in my personal computer like this:
[code]

[2020-08-04 22:04] cassava commented on #52
Alright, with the most recent version from develop should be significantly better.

First, building is a lot simple since moving to Go modules:

[code]

And here's what I did to test your use-case.

[code]

(There's another update in the pipeline that will let you see more package metadata, kind of like with `pacman -Qi`.)

[2020-08-06 21:57] cassava commented on #52
@PedroHLC Have you had a chance to try out the current `develop` branch?

[2020-08-06 21:57] #53 closed

[2020-08-06 22:10] #47 closed

[2020-08-06 22:15] cassava opened #55 "Optimize list speed"
Running `repoctl list` takes quite a long time, because it reads each package to get all the metadata from it.
This shouldn't be necessary. We should take advantage of the database and only read packages when we have to.

1. Read database
2. Check files that are not referenced in the database or are newer than the database

[2020-08-06 22:18] cassava commented on #46
I am going to assume that this issue is resolved. Feel free to re-open otherwise.

[2020-08-06 22:18] #46 closed

[2020-08-06 22:21] cassava opened #56 "Improve landing page"
The landing page could use some love.

- [x] Get to the meat right away
- [x] Remove the note about the license
- [x] Add a few Asciinema videos
- [x] Highlight some of the newer features

[2020-08-06 22:24] cassava commented on #49
Magic number mismatch comes from:
[code]

[2020-08-06 22:29] #23 closed

[2020-08-06 22:35] cassava commented on #39
There's no easy way to deal with this, because maybe the user doesn't want to run the post action on failure?
Currently, the down action no longer runs the pre-action unless absolutely necessary.
That mitigates part of the problem.

[2020-08-06 22:36] PedroHLC commented on #52
I had, and the problem still persists for me. As I build/install from my own PKGBUILD, I'll be doing more tests and compiling more info to handle you a proper bug report or find what I'm doing wrong.

[2020-08-06 23:24] PedroHLC commented on #52
:smile:  I have no clue what I'm doing, but with or without Arch's go flags, with go install or go build and later installing the executable.
It all ends with `error: gzip: invalid header` and no other verbosity. :cry:
Commit is 1102d3c.

[2020-08-07 18:20] cassava commented on #52
@PedroHLC
I'm having some trouble reproducing the issue, even with older versions of repoctl, such as v0.18.
I wonder if this might be related to #44.

With the most recent version of repoctl, you can run `repoctl query osdlyrics-git` to get all the metadata on the package.
Does that work? What happens when you `wget` or `curl` the Snapshot URL? Perhaps it's not in the GZ format and that's why it'

[2020-08-07 18:42] PedroHLC commented on #52
that works:
![image](https://user-images.githubusercontent.com/1368952/89677859-88e32a80-d8c4-11ea-99fa-2e7466972c3d.png)

[2020-08-08 14:38] cassava commented on #52
I'd really love to fix this issue, but as of now I've been unable to reproduce it with devel, v0.20, or v0.19.
Here's the script I used for testing:

[code]

And here are the results: https://asciinema.org/a/RYr7oS1UMhxx75vKZPeTgVTv1
(That link is valid for about 7 days supposedly. So after that, see the attachments below.)

*Attachments:*
- [asciinema-recording.txt](https://github.com/cassava/rep

[2020-08-08 14:47] cassava commented on #55
This has been resolved with commit 8dbdd52e1389ea22c93da7d37d7e22277b2f850b.

[2020-08-08 14:47] #55 closed

[2020-08-13 16:44] PedroHLC commented on #52
Hi @cassava, I hadn't time to test it yet.
But, would you mind testing with my buildings of repoctl?
From our testbenchs the only thing I can think could interfere, is the building I'm always building within clean chroots (actually, systemd-nspawn) and not `go install` (I don't let anything touch my rootfs, sorry).

Here's the latest:
http://lonewolf-builder.duckdns.org/chaotic-aur/x86_64/repoctl-

[2020-08-14 07:24] cassava commented on #52
That's very commendable, that you sandbox all foreign code. :-)
I tried your build with your config and your database, and I still can't reproduce the problem.

I suspect it has something to do with the network or the AUR API.
According to the AUR documentation, you can make up to 4000 requests a day per IP address.
I'll see if I can get some better error messages integrated into repoctl at the po

[2020-08-29 09:04] cassava commented on #52
@PedroHLC I finally was able to reproduce the problem on my machine.
The latest commit should resolve the issue. Let me know if that is the case!

[2020-08-29 09:08] cassava commented on #49
Any lingering issues here should be fixed by the fix for #52, if the fix for #47 didn't help.
However, despite trying I was unable to reproduce the "deletes all packages" behavior.
There is no path that I could find in the code that would lead to that effect.

[2020-08-29 09:08] #49 closed

[2020-08-29 16:41] PedroHLC commented on #52
Worked flawlessly with c32b18d

[2020-08-29 16:41] #52 closed

[2020-08-29 21:43] PedroHLC opened #57 "Wrong package version detection is leading to catastrophic action. (Current devel)"
I ran `repoctl add gtk-theme-elementary-git-5.4.2r113.be9ecef-1-any.pkg.tar.zst` to fix a miss-updated pkgver (it was "5.5.2.r5..." before, with an extra dot), and all my 2480 packages were backed up...
This was with `c32b18d`.

EDIT: The database was kept intact, no packages were removed from it in the process.

[2020-08-29 22:06] PedroHLC commented on #57
The problem is bigger than it seems.

When running `repoctl status -m` it fails a lot. And then show as if all packages had updates, and their current version is empty.
Log: https://lonewolf.pedrohlc.com/chaotic-aur/makepkglogs/_lab/repoctl.status.-m.logs

[2020-08-30 09:03] cassava commented on #57
@PedroHLC I noticed the problem too. Must have introduced a regression somewhere in one of the last commits.

[2020-08-30 10:05] cassava commented on #57
@PedroHLC
This is related to the fix for #52. Previously, when opening a file I would rely on the extension for determining how it was compressed. Some databases didn't have an extension though, despite being compressed. In that case I tried the Gzip compression and if that didn't work, gave up. So the fix for #52 required me to read part of the file to determine which compression format was being

[2020-08-30 13:35] #37 closed

[2020-08-30 13:36] #39 closed

[2020-08-30 13:44] cassava commented on #4
Profiles will be supported in the 0.21 version release, and in fact already work in the `devel` branch.

See `repoctl conf` and it's subcommands `repoctl conf show` and `repoctl conf migrate` for more information on how to adjust the configuration file for multiple profiles.

Here's a preview:
[code]

[2020-08-30 13:44] #4 closed

[2020-08-30 13:49] #14 closed

[2020-08-30 20:41] #56 closed

[2020-08-30 20:42] cassava commented on #57
Since I had the exact same experience as you, (minus everything being backed up), and was able to resolve the issue as far as I can tell, I'm going to consider this resolved. If that's not the case, just re-open the issue and I'll have another look.

[2020-08-30 20:42] #57 closed

[2020-08-31 19:07] cassava commented on #57
Glad to be of service! ;-)

[2020-09-08 18:51] PedroHLC opened #58 "Repoctl is backing-up files without any good-reason"
Hi @cassava,

I just lot the entire repository twice today, the files were moved to the backup directory.

Tasks used includes (only) `repoctl update` and `repoctl add <some kernels>`.
I'm using the 0.21 release.

[2020-09-08 18:55] PedroHLC commented on #58
This time `repoctl --debug status -mca` doesn't show anything wrong :cry:

[2020-09-08 18:56] cassava commented on #58
So sorry! I'm looking into it.

[2020-09-08 18:56] PedroHLC commented on #58
Luckily I logged the moment it backed up everything this second time:
[code]

[2020-09-08 18:57] cassava commented on #58
Could you post the output of `repoctl version`?

[2020-09-08 18:58] PedroHLC commented on #58
This is our badboy:
http://lonewolf-builder.duckdns.org/chaotic-aur/x86_64/linux-tkg-pds-bobcat-5.8.7-12-x86_64.pkg.tar.zst

[2020-09-08 18:58] PedroHLC commented on #58
[code]

[2020-09-08 19:00] cassava commented on #58
That looks like the output of the bug that already got fixed... hmm. I wonder if `repoctl-git` version is different from the one I packaged.

[2020-09-08 19:02] PedroHLC commented on #58
:sweat_smile: this was with aur.archlinux.org/packages/repoctl

[2020-09-08 19:02] cassava commented on #58
Oh boy...

[2020-09-08 19:03] PedroHLC commented on #58
I got it from the pacman's cache:
https://lonewolf.pedrohlc.com/.hidden/repoctl-0.21-1-x86_64.pkg.tar.zst

[2020-09-08 19:04] cassava commented on #58
Ah, you might consider using `repoctl-0.21-3`.

[2020-09-08 19:05] PedroHLC commented on #58
I may have missed updating it :sweat_smile: I'll have to wait for the recompilation cycle to get in letter R.

[2020-09-08 19:10] cassava commented on #58
My guess is that might be it. I might have messed up the PKGBUILD for the go module migration, which could result in local Go modules being used instead of the vendored ones... This was before I followed the updated Arch Go packaging guidelines for modules.

[2020-09-08 19:15] cassava commented on #58
And the error you describe here is one that got fixed in one of the dependencies of repoctl. So there might be that mismatch.

Also, I downloaded the package that caused the trouble and followed your procedure locally and didn't have any trouble, so at least I can't reproduce it with 0.21-2 and 0.21-3.

[2020-09-08 19:16] PedroHLC commented on #58
One notice, when happening with `repoctl update` no files are backed up, it just fails, when it happens with `repoctl add` it's catastrophic.
And another thing: What happens when the file didn't finished writing? I have some async tasks and they may be tring to add files before they finished writing...

[2020-09-08 19:26] cassava commented on #58
Also, a partially-written archive would pose some problems, because repoctl only read as much of a package as it needs to, currently I'm relying on repo-add to handle the case of an incomplete file.

[2020-09-08 19:30] PedroHLC commented on #58
Yeah, `repo-add` failing and consequentially `repcotl` exiting with a failure code too is enough. That's how it has been working the past year. And what happens with pure `repo-add`. The server will reattempt it later on failures...

[2020-09-08 19:35] cassava commented on #58
So one thing I could definitely do is have `repoctl add` verify the packages before copying them to repository. Currently it just copies them over and trusts in `repo-add`.

[2020-09-08 19:52] cassava commented on #58
Alright then that change is now on `master` with 4822d1f6ea2b3012880e98ab551e15ab72e5a61e.

[2020-09-08 20:03] cassava commented on #58
And you're saying that adding this package to database actually caused *all* the packages in the repository to be backed up?

[2020-09-08 20:04] PedroHLC commented on #58
Moved to it :+1:

By the end of the recompilation cycles, I'll let you know if something goes wrong.
After changing to `-3` no error happened yet!

Yeah, The full logs have a bunch of "Backing up..." after this

[2020-09-08 20:06] PedroHLC commented on #58
The full log:
https://lonewolf.pedrohlc.com/.hidden/downinahole.log

[2020-09-08 20:15] cassava commented on #58
So bizarre that I can't get that reproduced at all... :-(

[2020-09-08 20:18] PedroHLC commented on #58
I was using 0.21 since #57 was closed, and only now it happened (and then again, but after building 800 packages).
I think that sounds like a race condition issue.

[2020-09-08 20:21] cassava commented on #58
Do you run repoctl update while building other packages?

[2020-09-08 20:24] PedroHLC commented on #58
I do, the server has 40 vCPUs, I don't like to leave any of them idle 😊; so it's a chaos of `down`, `update`, and when files come from a third cluster `add`.

[2020-09-08 20:25] cassava commented on #58
Ok... that explains a lot. :smile:

[2020-09-08 20:25] cassava commented on #58
Actually I'd also be interested in hearing any pain-points you might have in building that many packages.

For example: I've always found the situation difficult where you need to build newer dependencies that then need to be installable for the next `makepkg -s` command.

[2020-09-08 20:27] cassava commented on #58
I think it would be better to create a new issue specifically for the use-case "Support parallel execution of repoctl".

[2020-09-08 20:29] PedroHLC commented on #58
:sweat_smile:  someway somehow I managed that, my first infra has a "batch" command, and I execute it like this:
`chaotic-batchbuild somepackage anotherpackage -- apackagethatdepends`
and I wrapped the "add" command, it waits for a lock to be deleted before running a secondary `repoctl update`

[2020-09-08 20:41] cassava opened #59 "Support parallel execution of repoctl"
Currently, repoctl does not take parallel execution into account. This can lead to cases where a `repoctl add` or `repoctl update` does bad stuff.

[2020-09-09 11:53] PedroHLC commented on #58
I think I didn't had that failure anymore, but I have this one instead (with update), and I think is related:
[code]

[2020-09-09 20:01] PedroHLC commented on #58
Sometimes I still get:
[code]

Sometimes is uglier:
[code]

But these packages are still being added to the repo...

As the catastrophic event seems to have ceased, I'm closing this issue.

[2020-09-09 20:01] #58 closed

[2020-09-09 20:10] cassava commented on #58
Hey @PedroHLC, the errors you are seeing there are to be expected when repoctl reads `tar.zst` files that are still being written.

`cannot find file ".PKGINFO"` happens when the Zst decompression is successful far enough that the TAR reader can start processing the archive, but it doesn't find the `.PKGINFO` file that supposed to be in the TAR.

`invalid input: magic number mismatch` happens when

[2020-09-09 20:50] PedroHLC commented on #58
I observed it today, and repoctl is not running in parallel. My lock wrapper is working and probably has been the way the entire past year. I just don't avoid partially written files. But I'm considering using the same lock file for the copying operations...

[2020-09-17 17:20] anatol opened #60 "Sign package/database automatically on adding"
If packages/database uses signing then one needs to run `gpg --detach-sign` manually each time a package is added to the repo.

It makes sense if `repoctl` has an option to automate the signing process. i.e.
 * run gpg signing for the package before adding it to database
 * run gpg signing for the database after the package is added to database

[2020-09-28 13:09] PedroHLC commented on #58
Sadly it happened once more, with `repoctl add` (and not running parallel).

[2020-09-28 19:57] cassava commented on #58
Good to know that it can also happen by itself! Debugging data-race issues are really really hard, because a lot of behavior is just *undefined*, which can mean basically anything. But if it happens without any other instance running in parallel, then I might just have a chance to observe it myself.

If you ever manage to reproduce it reliably, that is of course the absolute best, but from the sou

[2020-09-28 20:01] PedroHLC commented on #58
Sadly it took me 40hrs to notice the package was gone :sweat_smile:
Thankfully one of the mirrors aren't syncing the packages deletes and I've been using it as a backup.

[2020-09-28 21:23] PedroHLC commented on #58
I had one entry showing as `mixxx_beta-git: updated( -> r6814-1)` in `repoctl status`.

This package wasn't even appearing in my dump with `tar -tv --zstd -f chaotic-aur.db.tar.zst | awk '/^d/{print $6}'`. And it was build near the time things went crazy.

I've added it with `repo-add` and now it's in database and doesn't show in `repoctl status` anymore...

[2020-12-08 17:59] mygithubthrowaway opened #61 "Maximum file size exceeded: wrong file size in database"
Hi all,

[code]

i found this problem several times using repoctl, for instance "downgrade" package:
[code]
googling it I found this issue:

https://bugs.archlinux.org/task/30878

in particular the Allan McRae reply

and I can confirm the problem is the wrong file size:

[code]

[2020-12-09 15:05] cassava commented on #61
Hey @mygithubthrowaway,

first of all welcome and thanks for opening an issue!
I'll have a look into this as soon as I find some time.
I don't expect that to necessarily be this week, but it'll definitely be on my radar!

Here are a few notes for starters though:
- Currently, repoctl has its own routines for reading packages and databases, but it uses `repo-add` under the hood to add packages to t

[2020-12-15 15:21] mygithubthrowaway commented on #61
Hi @cassava thanks for your kind reply

Yes I was using `repoctl update`, now I solved by removing the file before and using `repoctl add -m <package>`.

thanks, but It's not an urgent issue so please take it easy :)

have a nice holidays

I will let you decide if you want to close or keep this issue open

[2021-04-17 15:34] cyrinux opened #63 "repoctl remove --backup=false broken"
Hi,

Thanks for this cool program to well manage our repository.

Long time ago I was able to do `repoctl rm --backup=false packagename`.
This is broken, the params is still in the documetation, help, but is not recognize.

I got:
[code]

[2021-04-18 21:24] cassava commented on #63
Hy @cyrinux,

thanks for the issue and glad to hear that `repoctl` is useful to you!

The `--backup` flags were removed in [version 0.21](https://github.com/cassava/repoctl/releases/tag/v0.21),
but it looks like I forgot to update the help text. I'll make sure to fix that.

Since profiles have been introduced in version 0.21, if you want to toggle behavior like backup it's best to create a new pro

[2021-04-19 05:32] cyrinux commented on #63
Thanks @cassava it's clear. I will use profile and you will clean-up the documentation. Perfect. 👍

[2021-04-21 17:55] cyrinux opened #65 "Error on removing package with several versions."
Hi @cassava :-)

With @maximbaz with spot something that can be enhanced i think.
When trying to remove a package that got several version we got this.

![image](https://user-images.githubusercontent.com/519083/115599059-691d5680-a2db-11eb-8fe6-5a595d294057.png)

@maximbaz got several version and got this error. And from my side, with only one package, no error.

Any idea?

Regards,

[2021-04-25 14:36] PedroHLC commented on #65
yeah, I can confirm this one. Randomly repoctl duplicates/triplicates the last package listed in the remove command:
[code]
ending with:
[code]

[2021-04-27 15:57] #63 closed

[2021-05-27 12:12] inglor opened #66 "Support virtual packages for dependency resolution"
Some packages provide "virtual" packages which `repoctl` doesn't take into account when resolving dependencies:
[code]

[2022-04-09 22:20] AladW commented on #54
Unfortunately it doesn't, since the AUR has no way to query `provides`. At least yet, with [the next RPC version](https://gitlab.archlinux.org/archlinux/aurweb/-/issues/307) that should be possible.

[2022-04-09 22:30] AladW commented on #44
You can use a POST request to submit up to 5000 packages in one request. But this statement is unclear:

Wouldn't `repoctl down` only download the packages with the versions advertised on AUR? If so, for VCS packages, those tend to be behind the actual upstream version (it's ill-advised to bump the AUR package for every commit). You can just run `makepkg -od` in that case and compare the resulting

[2022-04-09 22:32] AladW commented on #66
It seems strange that `down -r` looks at `Provides` for "required by" in the first place.

[2022-04-09 22:37] AladW commented on #59
I don't know the precise way in which `repoctl` writes to the local repository, but it should suffice to `flock` on the repository root. e.g.

[code]

[2022-04-09 22:45] AladW commented on #58
Over the years I've also noticed (and had reports) of local repository database suddenly becoming empty. Never found out the cause either. In my case, `aur-build` does not seem to have data races either (all built packages are written to a random, private directory before being `mv`'d to the local repository, and `repo-add` has its own locking mechanism which I presume (?) to be functional).

[2022-05-14 19:52] dr460nf1r3 opened #69 "Repoctl down "pkgbase" errors if the pkgbase is not available in pkgname=()"
Currently, `repoctl down` does not work with `pkgbase` when it is not available in the `pkgname` array. An example of this is the [yaru pkgbase](https://aur.archlinux.org/pkgbase/yaru).

[code]
Meanwhile, the pkgbase can still be downloaded by its git URL (https://aur.archlinux.org/pkgbase/yaru)